{{ if .Site.Params.options.colorMode -}}
  {{ $colorMode := resources.Get "js/colormode.js" | js.Build | minify -}}
  <script>{{ $colorMode.Content | safeJS }}</script>
{{ end -}}
{{- if and (.Site.Params.alert) (.Site.Params.alertDismissable) -}}
  {{ $alertInit := resources.Get "js/alert-init.js" | js.Build | minify -}}
  <script>{{ $alertInit.Content | safeJS }}</script>
{{- end -}}

