{{ with $assets := partialCached "functions/get-stylesheet-assets.html" . }}
  <link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
  <noscript><style>img.lazyload { display: none; }</style></noscript>
