
{{- $first_contributor := "" -}}
{{- with .Params.contributors -}}
  {{- $first_contributor = index . 0 -}}
{{- end -}}

{{- $avatar := "" -}}
{{ with $first_contributor }}
  {{ range where (where (where $.Site.Pages "Section" "contributors")
  "Params.matrix_identifier" "!=" nil)
  "Params.title" "==" $first_contributor -}}

    {{- $matrix_user_identifier := .Params.matrix_identifier }}

    {{ if isset $.Site.Data "matrix_users" }}
      {{- range $.Site.Data.matrix_users -}}
        {{- if eq .userId $matrix_user_identifier  -}}
          {{- with .avatar -}}
            {{- $avatar = (printf "https://matrix.org/_matrix/media/r0/thumbnail/%s?width=64&height=64&method=scale" (substr  . 6)) -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{ $timeUnit := "min" }}
{{ if gt .ReadingTime 1 }}
	{{ $timeUnit = "mins" }}
{{ end }}

<div class="row blog-meta flex">
  <div class="col-auto image">

    {{- with $avatar -}}
    <img
      width="48"
      height="48"
      src="{{- . -}}">
    </img>
    {{- end -}}
  </div>
  <div class="col">
    <div class="row">
      <div class="col-auto me-auto name">
        {{ with .Params.contributors }}
          {{ range $index, $contributor := . -}}
            {{ if gt $index 0 -}}
              {{ if eq $index (sub (len $.Params.contributors) 1) }}
                <span> and </span>
              {{ else -}}
                <span>, </span>
              {{ end -}}
            {{ end }}<a
              class="stretched-link position-relative"
              href="{{ "/contributors/" | relURL }}{{ . | urlize }}/"
              >{{ . }}</a
            >
          {{- end }}
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-auto me-auto data">

        {{- .PublishDate.Format "January 2, 2006" -}}

        &nbsp;&nbsp;&middot;&nbsp;&nbsp;

        {{- $.ReadingTime }} {{ $timeUnit -}}

        &nbsp;&nbsp;&middot;&nbsp;&nbsp;

        {{- with .Params.categories -}}
          {{- range $index, $category := . -}}
            {{ if gt $index 0 -}}
              {{ if eq $index (sub (len $.Params.categories ) 1) }}
                <span> and </span>
              {{ else -}}
                <span>, </span>
              {{ end -}}
            {{ end -}}<a
              class="stretched-link position-relative"
              href="{{ "/categories/" | relURL }}{{ . | urlize }}/"
              >{{ . | title }}</a
            >
          {{- end }}
        {{ end }}
      </div>
    </div>
  </div>
  <div class="col-auto link">
      <!-- TODO: Copy to clipboard -->
      <a
        class="stretched-link position-relative"
        href="{{ $.Page.Permalink }}"
        ><i class="fa fa-link fa-lg" aria-hidden="true"></i></a
      >

  </div>
</div>
