{{ $rss_path := printf "blog/%s" (dateFormat "2006" now) }}

<div class="col-12 col-xl-3 col-4xl-2">
  <div class="position-sticky" style="top: 4rem;">
    {{ with (.Site.GetPage $rss_path).OutputFormats.Get "RSS" }}
    <div class="blog-widget">
        <p>
          <a href="{{ .RelPermalink }}">
            <i class="fa fa-rss-square"></i>
            RSS
          </a>
        </p>
    </div>
    {{ end }}
    {{ partial "main/blog-widget-archives.html" . }}
    {{ partial "main/blog-widget-categories.html" . }}
    {{ partial "main/blog-widget-tags.html" . }}
  </div>
</div>
