<!-- Get the last element from the current URL -->
{{ $lastUrlElement := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}


<!-- Get the seconf last element from the current URL -->
{{ $secondLastUrlElement := index (last 2 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}


<!-- Get the third last element from the current URL -->
{{ $thirdLastUrlElement := index (last 3 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}


<!-- Page is blog or blogpage for a specific year -->
{{ $is_blog := false }}
{{ if (or (eq $lastUrlElement "blog") (eq $thirdLastUrlElement "blog") (eq $lastUrlElement "categories") (eq $secondLastUrlElement "categories") (eq $lastUrlElement "tags") (eq $secondLastUrlElement "tags")) }}
  {{ $is_blog = true }}
{{ end }}


<!-- Check if path for pagination should be /blog/ or /blog/<year>/ -->
{{ $current := "" }}
{{ if eq $is_blog true }}
  {{ $current = (where .Site.RegularPages "Section" "blog") }}
{{ else }}
  {{ $current = .Data.Pages }}
{{ end }}


<!-- Store for all elements (not uniq) -->
{{ $tags := slice }}


<!-- find all tags - start with current -->
{{ range  (where $current "Params.tags" "!=" nil) }}
  {{ range .Page.Params.tags }}
    {{ $tags = $tags | append (lower .) }}
  {{ end }}
{{ end }}

{{ if gt (len $tags) 0 }}
  <div class="p-4">
    <h4 class="fst-italic" style="margin-top: 0rem;">
      <i class="fa fa-tags"></i> Tags
    </h4>
    <ul class="blog-tags">
      <!-- Using uniq values -->
      {{ range $uniq_tag := first 10 (uniq $tags) }}
        <li>
          <a href="/tags/{{ lower $uniq_tag }}">
            <i class="fa fa-tags"></i>
            {{ $uniq_tag }}
            <span class="badge text-dark">
              <!-- compare and count one element after another -->
              {{ $counter := 0 }}
              {{ range $item := $tags }}
                {{ if eq $item $uniq_tag }}
                  {{ $counter = add $counter 1 }}
                {{ end }}
              {{ end }}
              {{ $counter }}
            </span>
          </a>
        </li>
      {{ end }}
      <div class="blog-widget-btn pt-2 mt-2">
        <a href="/tags" class="btn btn-outline-primary" role="button"
          >All Tags</a
        >
      </div>
    </ul>
  </div>
{{ end }}
