/*

  Blog Layout
  ===========

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: List, Single

  LAYOUT: /layout/blog/*
  DOCS:   /content/<language>/wiki/Help:Layout_Blog.md
  STYLE:  /assets/scss/layout/_blog.scss

  Reporting Issues Shortcode
  ==========================

  LAYOUT: /layouts/shortcodes/reporting_issues.html
  STYLE:  /assets/scss/components/_shortcode_identifier.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Reporting_Issues.md

*/

/* Needs cleaning */

.blog-meta {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .image {
    border-radius: 50%;
    display: block;
  }

  .name {
    font-weight: 400;
    line-height: 26px;

    // TODO
    font-size: 16px;
  }

  .data {
    font-weight: 400;

    // TODO
    font-size: 14px;
  }

  .link {
    color: gray;
  }

  img {
    border-radius: 50%;
    color: gray;
  }
}

.blog-author {
  float: left;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.blog-date {
  text-align: right;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.blog-continue-reading {
  text-align: right;

  a {
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0.05em;
  }
}

.blog-widget {
  padding: $spacer * 1.5; /* p-4 */
}

.blog-widget-btn {
  a {
    text-transform: capitalize;
    font-size: 14px;
  }
}

.blog-navigation a {
  font-size: $font-size-base * 0.9;
}

.blog-tags {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  li {
    display: inline-block;

    a {
      display: inline-block;
      border: solid 1px $gray-300;
      border-radius: 0;
      margin: 5px 5px 5px 0;
      padding: 5px;
      font-size: 14px;
      letter-spacing: 0.05em;
      text-transform: capitalize;
    }
  }
}

.blog-post-updated {
  margin-top: 2em;
  text-align: right;
  font-size: 14px;
}

.blog-data-section {
  border-top: 1px solid;
  margin-top: 2em;
  margin-bottom: 2em;
}

.blog-data-table {
  table-layout: fixed;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 45px;

  h5 {
    margin-top: 0;
    margin-bottom: 0;
  }

  th,
  tr,
  td {
    border: none;
  }
}

.blog-navigation {
  margin-top: 2rem;
  margin-bottom: 0;
  padding-top: 2rem;
}

@include media-breakpoint-up(lg) {
  .blog-navigation {
    margin-bottom: -1rem;
  }

  .blog-navigation a {
    font-size: $font-size-base;
  }
}

.blog-navigation table {
  margin-top: 20px;
  margin-bottom: 20px;

  th,
  tr,
  td {
    border: none;
  }

  td {
    padding-top: 0;
    padding-bottom: 0;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  .glyph {
    vertical-align: middle;
    text-align: center;
    font-size: $font-size-base * 1.25;
  }

  .next-prev {
    font-size: $font-size-base;
  }

  .title {
    font-weight: bold;
  }
}

@include color-mode(dark) {
  .blog-tags {
    li {
      a {
        border: solid 1px $gray-800;
      }
    }
  }

  .blog-data-section {
    border-top: 1px solid #343a40;
  }
}
