/*

  Docs Layout
  ===========

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: Single, List

  LAYOUT: /layouts/docs/*
  DOCS:   /content/<language>/wiki/Help:Layout_Docs.md
  STYLE:  /assets/scss/layouts/_docs.scss

  Wiki Layout
  ===========

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: Single, List

  LAYOUT: /layouts/wiki/*
  DOCS:   /content/<language>/wiki/Help:Layout_Wiki.md
  STYLE:  /assets/scss/layouts/_docs.scss

  Wiki Categories Layout
  ======================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: Term, Terms

  LAYOUT: /layouts/wiki_categories/*
  DOCS:   /content/<language>/wiki/Help:Layout_Wiki_Categories.md
  STYLE:  /assets/scss/layouts/_docs.scss

  Internal (Docs) Layout
  ======================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: Single, List

  LAYOUT: /layouts/internal/*
  DOCS:   /content/<language>/wiki/Help:Layout_Internal.md (undocumented)
  STYLE:  /assets/scss/layouts/_docs.scss

*/

.sidebar-actions {
  margin-top: 2rem;
  font-size: 1rem;
}
