.wiki-content {
  h1,
  h2 {
    border-bottom: 1px solid $border-color;
  }
}

@include color-mode(dark) {
  .wiki-content {
    h1,
    h2 {
      border-bottom: 1px solid $border-dark;
    }
  }
}
