/*

  Contributors Shortcode
  ======================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/contributors.html
  STYLE:  /assets/scss/components/_shortcode_contributors.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Contributors.md
  PREP:   /utils/get_matrix_users
  DATA:   /data/matrix_users.json
  CI:     /gitlab-ci.yml (get-data)

  Moderators Shortcode
  =====================

  LAYOUT: /layouts/shortcodes/moderators.html
  STYLE:  /assets/scss/components/_shortcode_contributors.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Moderators.md
  PREP:   /utils/get_matrix_users
  DATA:   /data/matrix_users.json
  CI:     /gitlab-ci.yml (get-data)

*/

.contributor-social {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 2em;
  margin-top: 2em;
  list-style: none;
  justify-content: center;
}

.social-item,
.social li {
  margin-left: 20px;
  margin-right: 20px;
}
