/*

  Download Shortcode
  ==================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/download.html
  STYLE:  /assets/scss/components/_shortcode_download.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Download/index.md

*/

@include color-mode(dark) {
  .download .download-data {
    background-color: $body-bg-dark;
    color: $body-color-dark;
    border-color: $border-dark;
  }
}
