/*

  Graphviz Shortcode
  ==================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 2
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/graphviz.html
  STYLE:  /assets/scss/components/_shortcode_graphviz.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Graphviz.md
  PREP:   /utils/generate_graphviz_images
  DATA:   /graphviz/*
  DATA:   /static/images/graphviz/*
  CI:     /gitlab-ci.yml (build-graphviz)

*/

.graph {
  margin: 1.5rem 0;
  padding: 1.5rem;
}

.graph svg {
  height: auto;
}
