/*

  Tabs Shortcode
  ==============

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes:
    - Tab Shortcode
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/tabs.html
  STYLE:  /assets/scss/components/_shortcode_tabs.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Tabs.md

  Tab Shortcode
  =============

  LAYOUT: /layouts/shortcodes/tab.html
  STYLE:  /assets/scss/components/_shortcode_tab.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Tabs.md

*/

/* Adapting nav-tabs for dark mode */
@include color-mode(dark) {
  button.nav-link.active {
    background-color: $body-bg-dark;
    color: $body-color-dark;
    border-color: $border-dark;
  }

  button.nav-link {
    color: $link-color-dark;
  }

  .nav-tabs {
    border-bottom: 1px solid $border-dark;
  }
}
