/*

  Gitlab_Label Shortcode
  ======================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/gitlab_label.html
  STYLE:  /assets/scss/components/_shortcode_gitlab_label.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_GitLab_Label.md

*/

.gl-label {
  background-color: $body-bg;
  overflow: hidden;
  display: inline-flex;
  border-radius: 0.75rem;
  position: relative;
  max-width: 100%;
  font-size: 0.875rem;
  box-shadow: var(--label-inset-border) !important;
  vertical-align: bottom !important;
}

.gl-label-text-light.gl-label-text-light {
  color: $white;
}

.gl-label-scoped .gl-label-text-scoped {
  color: $body-color;
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}

.gl-label .gl-label-text,
.gl-label .gl-label-text-scoped {
  display: block;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.gl-label-sm .gl-label-text,
.gl-label-sm .gl-label-text-scoped {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@include color-mode(dark) {
  body .gl-label-scoped .gl-label-text-scoped {
    color: $white;
  }

  body .gl-label {
    background-color: $body-bg-dark;
  }
}
