/*

Based on Ascetic by (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  background: $gray-200;
  color: $body-color;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-symbol,
.hljs-bullet,
.hljs-section,
.hljs-addition,
.hljs-attribute,
.hljs-link {
  color: $pink-500;
}

.hljs-comment,
.hljs-quote,
.hljs-meta,
.hljs-deletion {
  color: #888;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-name,
.hljs-type,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

@include color-mode(dark) {
  body .hljs {
    background: $body-overlay-dark;
    color: $body-color-dark;
  }

  body .hljs-string,
  body .hljs-variable,
  body .hljs-template-variable,
  body .hljs-symbol,
  body .hljs-bullet,
  body .hljs-section,
  body .hljs-addition,
  body .hljs-attribute,
  body .hljs-link {
    color: $blue-300;
  }
}
