/*

  Changelog Layout
  ================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: List

  LAYOUT: /layouts/changelog/list.html
  DOCS:   /content/<language>/wiki/Help:Layout_Changelog.md
  STYLE:  /assets/scss/components/_timeline.scss

*/

ul.timeline {
  list-style-type: none;
  position: relative;

  li.entry {
    padding-left: 30px;
    margin: 80px 0;

    span.date {
      float: right;
      font-size: $font-size-base;
    }

    span.title {
      font-style: bold;
      font-size: $font-size-lg;
      font-weight: $headings-font-weight;
    }

    span.blog-post-message {
      font-style: bold;
    }
  }

  %entry {
    margin-top: 0.35em;
    content: "";
    background: $body-bg;
    border: 4px solid $blue-300;
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 19px;
    z-index: 100;
  }

  li.entry::before {
    @extend %entry;

    border-radius: 50%;
  }
}

ul.timeline::before {
  margin-top: 0.35em;
  content: "";
  background: $gray-600;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 3px;
  height: 100%;
  z-index: 100;
}

@include color-mode(dark) {
  ul.timeline::before {
    background: $gray-400;
  }

  ul.timeline li.entry::before {
    background: $body-bg-dark;
  }
}
