{{/*<!-- 

  Wiki Categories Layout
  ======================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: Terms

  LAYOUT: /layouts/wiki_categories/tems.html
  DOCS:   /content/<language>/wiki/Help:Layout_Wiki_Categories.md
  STYLE:  /assets/scss/layouts/_docs.scss

  Description
  -----------

  The terms layout page for the wiki.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}

  <div class="container">
    <div class="row flex-xl-nowrap gap-1">
      <div class="col-md-12 col-lg-2 col-xl-2  docs-sidebar{{ if ne .Site.Params.options.navbarSticky true }} docs-sidebar-top{{ end }} d-none d-lg-block">
        <nav {{ if eq .Site.Params.menu.section.collapsibleSidebar false }}id="sidebar-default" {{ end }}class="docs-links" aria-label="Main navigation">
          {{ partial "sidebar/docs-menu.html" . }}
        </nav>
      </div>
        <main class="docs-content col-md-12 col-lg-10 col-xl-10">
            <h1 class="pb-2 mb-2">
              Wiki Categories
            </h1>
            <p class="lead">To find specific topics, page authors have freely defined the categories listed, alphabetically below.</p>

            <div class="text-center pb-4 mb-4">{{ .Content }}</div>

            {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}

            <ul class="blog-tags">
              {{ range sort .Site.Taxonomies.wiki_categories }}
                {{ $firstChar := substr .Page.Title 0 1 | upper }}

                  <!-- make sure to only have tags where the first char is a letter -->
                  {{ if $firstChar | in $letters }}
                    {{ $curLetter := $.Scratch.Get "curLetter" }}
                      <!-- if $curLetter is nott set or the letter has changed -->
                      {{ if ne $firstChar $curLetter }}
                        <!-- end the last ul -->
                        </ul>
            <!-- update the current letter and print it -->
                        {{ $.Scratch.Set "curLetter" $firstChar }}
                        <h4 class="text-center">{{ $firstChar }}</h4>
                        <hr />
                        <!-- start a new ul -->
                        <ul class="blog-tags">
                      {{ end }}


                      <li>
                        <a href="{{ .Page.Permalink }}">
                          <!-- <i class="fa fa-tags"></i> -->
                          {{ .Page.Title | title }}
                          <span class="badge text-dark">
                            {{ .Count }}
                          </span>
                        </a>
                      </li>
                    {{ end }}
                  {{ end }}
                </ul>
      </main>
    </div>
  </div>
{{ end }}
