<!--

  Contributors Shortcode
  ======================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/contributors.html
  STYLE:  /assets/scss/components/_shortcode_contributors.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Contributors.md
  PREP:   /utils/get_matrix_users
  DATA:   /data/matrix_users.json
  CI:     /gitlab-ci.yml (get-data)

  Description
  -----------

  Use the contributors shortcode to display a list of contributors with an
  avatar infront of their names.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->

<table>
  <thead>
    <tr>
      <th>{{ i18n "name" | title }}</th>
      <th>GitLab</th>
      <th>Matrix</th>
      <th>{{ i18n "matrix-identifier" | title }}</th>
    </tr>
  </thead>
  <tbody>
    {{ range where
               (where
                 (where
                   (where .Site.Pages "Section"  "contributors")
                 "Params.matrix_username" "!=" nil)
               "Params.matrix_identifier" "!=" nil)
             "Params.gitlab_username" "!=" nil
    -}}

      {{ if or (eq .Params.website_content true) (eq .Params.website_developer true) }}

        {{- $matrix_user_identifier := .Params.matrix_identifier }}

        {{- $avatar := "" -}}
        {{ if isset $.Site.Data "matrix_users" }}
          {{- range $.Site.Data.matrix_users -}}
            {{- if eq .userId $matrix_user_identifier  -}}
              {{- with .avatar -}}
                {{- $avatar = (printf "https://matrix.org/_matrix/media/r0/thumbnail/%s?width=64&height=64&method=scale" (substr  . 6)) -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}

      <tr>
        <td>
          <a href="{{ .RelPermalink }}">

            {{- with $avatar -}}
            <img
              width="25"
              height="25"
              src="{{- . -}}">
            </img>
            {{- end -}}
            &ThickSpace; {{ .Params.title }}
          </a>
        </td>
        <td>
          <a href="https://gitlab.com/{{ .Params.gitlab_username }}">
            {{ .Params.gitlab_username }}
          </a>
        </td>
        <td>
          <a href="https://app.element.io/#/user/{{ .Params.matrix_identitier }}">
            {{ .Params.matrix_username }}
          </a>
        </td>
        <td>
          <a
            class="text-body"
            href="https://app.element.io/#/user/{{ .Params.matrix_identitier }}"
          >
            {{ .Params.matrix_identifier }}
          </a>
        </td>
      </tr>
      {{ end -}}
    {{ end -}}
  </tbody>
</table>

<p class="text-muted fst-italic fw-light" style="margin-top:-2.5em; margin-bottom:2em">
  If you click on a contributors name or avatar, you get their profile page
</p>
