<!--

  Img Shortcode
  =============

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/img.html
  STYLE:  /assets/scss/components/_shortcode_img.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Img.md
  LIB:    medium-zoom
  SCRIPT: /assets/js/medium-zoom.js

  Description
  -----------

  Use the img shortcode to create an image. Optionally with an HTML figure.

  Changelog
  =========

  Version 1
  ---------

  Initial release

  Version 2
  ---------

  Rewrite to add more class hooks and make use of the medium-zoom library and
  allow using vector images.

-->

{{- $image_src := .Get "src" -}}
{{- $image := .Page.Resources.GetMatch (printf "*%s*" $image_src) -}}
{{- $is_vector := eq (path.Ext $image) ".svg" -}}

{{- if eq $image nil -}}
  {{ errorf "Failed to process img shortcode: %s. %s does not exist next to \"%s\"." $.Position $image_src .Page.Path }}
{{- end -}}

{{/*
<!--
if (isset $image "Width")  produces an non fatal error in the new version of
hugo. Basically every image excep vector images should have a slice. So the
workaround is checking, if the image is not an vector image.
Same for the other two: $image.Height and $image.Resize
-->
*/}}

{{- $width := false -}}
{{- if (not $is_vector) -}}
  {{- $width = $image.Width -}}
{{- end -}}
{{- with (.Get "width") -}}
  {{- $width = . -}}
{{- end -}}

{{- $height := false -}}
{{- if (not $is_vector) -}}
  {{- $height = .Get "height" | default $image.Height -}}
{{- end -}}
{{- with (.Get "height") -}}
  {{- $height = . -}}
{{- end -}}

{{- $lqip := false -}}
{{- if (not $is_vector) -}}
  {{- $w := printf "%dx webp q%d %s %s" $.Site.Params.lqipWidth $.Site.Params.quality $.Site.Params.hint $.Site.Params.resampleFilter -}}
  {{- $lqip = $image.Resize $w -}}
{{- end -}}

{{ $imgSrc := "" -}}
{{ $imgSrcSet := slice -}}

{{- if (not $is_vector) -}}
  {{ $widths := $.Site.Params.landscapePhotoWidths -}}
  {{ if gt $image.Height $image.Width -}}
    {{ $widths = $.Site.Params.portraitPhotoWidths -}}
  {{ end -}}

  {{ range $widths -}}
    {{ $srcUrl := (printf "%dx webp q%d %s %s" . $.Site.Params.quality $.Site.Params.hint $.Site.Params.resampleFilter | $image.Resize).Permalink -}}
    {{ if eq $imgSrc "" -}}{{ $imgSrc = $srcUrl -}}{{ end -}}
    {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) -}}
  {{ end -}}
  {{ $imgSrcSet = (delimit $imgSrcSet ",") -}}
{{ end -}}

<figure {{ with .Get "figure_class" -}}class="{{- . -}}"{{- end -}}>
  {{- if and (eq .Site.Params.options.lazySizes true) (not $is_vector) -}}
  <img
    class="img-fluid lazyload blur-up rounded mx-auto d-block {{ with .Get "img_class" -}}{{- . -}}{{- end -}}"
    id="zoom-default"
    data-sizes="auto"
    {{ with $lqip -}}src="{{- .RelPermalink -}}"{{- end }}
    data-srcset="{{ $imgSrcSet }}"
    {{ with $width -}}width="{{- . -}}"{{- end }}
    {{ with $height -}}height="{{- . -}}"{{- end }}
    {{ with .Get "alt" }}alt="{{.}}"{{ end }}
  >
  </img>
  {{- else -}}
    <img
      class="img-fluid zoom-default rounded mx-auto d-block {{ with .Get "img_class" -}}{{- . -}}{{- end -}}"
      id="zoom-default"
      sizes="100vw"
      {{ with $imgSrcSet -}}srcset="{{- . -}}"{{- end }}
      src="{{ $image.RelPermalink }}"
      {{ with $width -}}width="{{- . -}}"{{- end }}
      {{ with $height -}}height="{{- . -}}"{{- end }}
      {{ with .Get "alt" -}}alt="{{- . -}}"{{- end }}
  >
  </img>
  {{ end -}}
  <noscript>
    <img
      class="img-fluid rounded mx-auto d-block {{ with .Get "img_class" -}}{{- . -}}{{- end -}}"
      sizes="100vw"
      srcset="{{ $imgSrcSet }}"
      src="{{ $image.RelPermalink }}"
      {{ with $width -}}width="{{- . -}}"{{- end }}
      {{ with $height -}}height="{{- . -}}"{{- end }}
      {{ with .Get "alt" -}}alt="{{- . -}}"{{- end }}
    >
    </img>
</noscript>
{{- with .Get "caption" -}}<figcaption class="figure-caption">{{- . | safeHTML -}}</figcaption>{{- end -}}
</figure>
