/** Theme variables */

// Source: https://material.io/design/color/dark-theme.html

$body-bg-dark: $gray-900;
$body-overlay-dark: darken($body-bg-dark, 2.5%);

/*
$border-dark: darken($body-bg-dark, 2.5%);
*/
$border-dark: $gray-800;
$body-color-dark: $gray-300;
$dots-dark: darken($body-color-dark, 50%);

// $link-color-dark: $cyan;
$button-color-dark: $link-color-dark;
$focus-color-dark: lighten($link-color-dark, 2.5%);

$navbar-dark-color: $body-color-dark;
$navbar-dark-hover-color: $link-color-dark;
$navbar-dark-active-color: $link-color-dark;

/** Theme styles */

@include color-mode(dark) {
  body {
    background: $body-bg-dark;
    color: $body-color-dark;
  }

  // body a {
  //   color: $link-color-dark;
  // }

  body a.text-body {
    color: $body-color-dark !important;
  }

  body .btn-primary {
    @include button-variant($button-color-dark, $button-color-dark);

    color: $body-bg-dark !important;
  }

  body .btn-outline-primary {
    @include button-outline-variant($button-color-dark, $button-color-dark);

    // color: $link-color-dark;
  }

  body .btn-outline-primary:hover {
    color: $body-bg-dark;
  }

  body .btn-doks-light {
    color: $navbar-dark-color;
  }

  body .show > .btn-doks-light,
  body .btn-doks-light:hover,
  body .btn-doks-light:active {
    // color: $link-color-dark;
  }

  body .btn-menu svg {
    color: $body-color-dark;
  }

  body .doks-sidebar-toggle {
    color: $navbar-dark-color;
  }

  body .btn-menu:hover,
  body .btn-doks-light:hover,
  body .doks-sidebar-toggle:hover {
    background: $body-overlay-dark;
  }

  /*
body .dropdown-menu {
  @extend .dropdown-menu-dark;
}
*/

  body .navbar,
  body .doks-subnavbar {
    background-color: rgba(33, 37, 41, 0.95);
    border-bottom: 1px solid $border-dark;
  }

  body.home .navbar {
    border-bottom: 0;
  }

  body .offcanvas-header {
    border-bottom: 1px solid $gray-800;
  }

  body .offcanvas .nav-link {
    color: $body-color-dark;
  }

  // body .offcanvas .nav-link:hover,
  // body .offcanvas .nav-link:focus {
  //   color: $link-color-dark;
  // }

  // body .offcanvas .nav-link.active {
  //   color: $link-color-dark;
  // }

  body .navbar .navbar-brand {
    color: $navbar-dark-color !important;
  }

  body .footer .nav .nav-link,
  body .navbar .navbar-nav .nav-link {
    color: $navbar-dark-color;
  }

  body .footer .nav .nav-link:hover,
  body .footer .nav .nav-link:focus,
  body .navbar .navbar-nav .nav-link:hover,
  body .navbar .navbar-nav .nav-link:focus {
    color: $navbar-dark-hover-color;
  }

  body .footer .nav .nav-link:disabled,
  body .navbar .navbar-nav .nav-link.disabled {
    color: $navbar-dark-disabled-color;
  }

  body .footer .nav .show > .nav-link,
  body .footer .nav .active > .nav-link,
  body .footer .nav .nav-link.show,
  body .footer .nav .nav-link.active,
  body .navbar .navbar-nav .show > .nav-link,
  body .navbar .navbar-nav .active > .nav-link,
  body .navbar .navbar-nav .nav-link.show,
  body .navbar .navbar-nav .nav-link.active {
    color: $navbar-dark-active-color;
  }

  body .footer .text,
  body .navbar .navbar-text {
    color: $navbar-dark-color;
  }

  body .alert-primary a {
    color: $body-bg-dark;
  }

  body .alert-doks {
    background: $body-overlay-dark;
    color: $body-color-dark;
  }

  // body .alert-doks a {
  //   color: $link-color-dark;
  // }

  body .page-links a {
    color: $body-color-dark;
  }

  body .btn-toggle-nav a {
    color: $body-color-dark;
  }

  body .showcase-meta a {
    color: $body-color-dark;
  }

  // body .showcase-meta a:hover,
  // body .showcase-meta a:focus {
  //   color: $link-color-dark;
  // }

  body .docs-link:hover,
  body .docs-link.active,
  body .page-links a:hover {
    text-decoration: none;

    // color: $link-color-dark;
  }

  body .btn-toggle {
    color: $body-color-dark;
    background-color: transparent;
    border: 0;
  }

  body .btn-toggle:hover,
  body .btn-toggle:focus {
    color: $body-color-dark;
  }

  body .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28222, 226, 230, 0.75%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
    margin-bottom: 0.125rem;
  }

  body .btn-toggle[aria-expanded="true"] {
    color: $body-color-dark;
  }

  body .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }

  // body .btn-toggle-nav a:hover,
  // body .btn-toggle-nav a:focus {
  //   color: $link-color-dark;
  // }

  body .btn-toggle-nav a.active {
    color: $link-color-dark;
  }

  body .navbar .navbar-text a {
    color: $navbar-dark-active-color;
  }

  body .docs-links h3.sidebar-link a,
  body .page-links h3.sidebar-link a {
    color: $body-color-dark;
  }

  body .navbar .navbar-text a:hover,
  body .navbar .navbar-text a:focus {
    color: $navbar-dark-active-color;
  }

  body .navbar .btn-link {
    color: $navbar-dark-color;
  }

  body .content .btn-link {
    color: $link-color-dark;
  }

  body .content .btn-link:hover {
    color: $link-color-dark;
  }

  body .content img[src^="https://latex.codecogs.com/svg.latex"]
  {
    filter: invert(1);
  }

  body .navbar .btn-link:hover {
    color: $navbar-dark-hover-color;
  }

  body .navbar .btn-link:active {
    color: $navbar-dark-active-color;
  }

  body .form-control.is-search {
    background: $body-overlay-dark;
    border: 1px solid transparent;
    color: $gray-300;

    /*
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%236c757d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  */
  }

  body .form-control.is-search:focus {
    border: 1px solid $link-color-dark;
  }

  body .doks-search::after {
    color: $gray-300;
    border: 1px solid $gray-700;
  }

  body .text-dark {
    color: $body-color-dark !important;
  }

  /*
body .navbar-form::after {
  color: $gray-600;
  border: 1px solid $gray-800;
}
*/

  body .form-control {
    color: $gray-300;
  }

  body .form-control::placeholder {
    color: $gray-400;
    opacity: 1;
  }

  body .border-top {
    border-top: 1px solid $border-dark !important;
  }

  @include media-breakpoint-up(lg) {
    body .docs-sidebar {
      order: 0;
      border-right: 1px solid $border-dark;
    }
  }

  body .docs-navigation {
    border-top: 1px solid $border-dark;
  }

  body pre code::-webkit-scrollbar-thumb {
    background: $gray-400;
  }

  body code:not(.hljs) {
    background: $body-overlay-dark;
    color: $body-color-dark;
  }

  body pre code:hover {
    scrollbar-width: thin;
    scrollbar-color: $border-dark transparent;
  }

  body pre code::-webkit-scrollbar-thumb:hover {
    background: $gray-500;
  }

  body blockquote {
    border-left: 3px solid $border-dark;
  }

  body .footer {
    border-top: 1px solid $border-dark;
  }

  body .docs-links,
  body .docs-toc {
    scrollbar-width: thin;
    scrollbar-color: $body-bg-dark $body-bg-dark;
  }

  body .docs-links::-webkit-scrollbar,
  body .docs-toc::-webkit-scrollbar {
    width: 5px;
  }

  body .docs-links::-webkit-scrollbar-track,
  body .docs-toc::-webkit-scrollbar-track {
    background: $body-bg-dark;
  }

  body .docs-links::-webkit-scrollbar-thumb,
  body .docs-toc::-webkit-scrollbar-thumb {
    background: $body-bg-dark;
  }

  body .docs-links:hover,
  body .docs-toc:hover {
    scrollbar-width: thin;
    scrollbar-color: $border-dark $body-bg-dark;
  }

  body .docs-links:hover::-webkit-scrollbar-thumb,
  body .docs-toc:hover::-webkit-scrollbar-thumb {
    background: $border-dark;
  }

  body .docs-links::-webkit-scrollbar-thumb:hover,
  body .docs-toc::-webkit-scrollbar-thumb:hover {
    background: $border-dark;
  }

  body .docs-links h3:not(:first-child) {
    border-top: 1px solid $border-dark;
  }

  body a.docs-link {
    color: $body-color-dark;
  }

  body .page-links li:not(:first-child) {
    border-top: 1px dashed $border-dark;
  }

  body .card {
    background: $body-bg-dark;
    border: 1px solid $border-dark;
  }

  body .card.bg-light {
    background: $body-overlay-dark !important;
  }

  body .navbar .menu-icon .navicon {
    background: $navbar-dark-color;
  }

  body .navbar .menu-icon .navicon::before,
  body .navbar .menu-icon .navicon::after {
    background: $navbar-dark-color;
  }

  body .logo-light {
    display: none !important;
  }

  body .logo-dark {
    display: inline-block !important;
  }

  body .bg-light {
    background: darken($body-bg-dark, 1.5%) !important;
  }

  body .bg-dots {
    background-image: radial-gradient($dots-dark 15%, transparent 15%);
  }

  body .text-muted {
    color: darken($body-color-dark, 7.5%) !important;
  }

  body .alert-primary {
    background: $link-color-dark;
    color: $body-bg-dark;
  }

  body .figure-caption {
    color: $body-color-dark;
  }

  body table {
    @extend .table-dark;
  }

  body .copy-status::after {
    content: "Copy";
    display: block;
    color: $body-color-dark;
  }

  body .copy-status:hover::after {
    content: "Copy";
    display: block;
    color: $link-color-dark;
  }

  body .copy-status:focus::after,
  body .copy-status:active::after {
    content: "Copied";
    display: block;
    color: $link-color-dark;
  }

  /*
body .dropdown-toggle:focus,
body .doks-sidebar-toggle:focus {
  box-shadow: 0 0 0 0.2rem $focus-color-dark;
}
*/

  body .offcanvas {
    background-color: $body-bg-dark;
  }

  body .btn-close {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZWUyZTYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLXgiPjxsaW5lIHgxPSIxOCIgeTE9IjYiIHgyPSI2IiB5Mj0iMTgiPjwvbGluZT48bGluZSB4MT0iNiIgeTE9IjYiIHgyPSIxOCIgeTI9IjE4Ij48L2xpbmU+PC9zdmc+");
    background-size: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    body .alert-dismissible .btn-close {
      background-size: 1.25rem;
    }
  }

  /*
body .btn-close:focus {
  box-shadow: 0 0 0 0.2rem $focus-color-dark;
}
*/

  .dropdown-item {
    color: $body-bg-dark;
  }

  body hr.text-black-50 {
    color: $gray-600 !important;
  }

  body .email-form .form-control {
    background: $body-overlay-dark;
    border: 1px solid transparent;
  }

  body .email-form .form-control:focus {
    border: 1px solid $link-color-dark;
  }

  .page-link {
    color: $link-color-dark;
    background-color: transparent;
    border: $pagination-border-width solid $border-dark;

    &:hover {
      color: $body-bg-dark;
      background-color: $body-color-dark;
      border-color: $body-color-dark;
    }

    &:focus {
      color: $body-bg-dark;
      background-color: $body-color-dark;
    }
  }

  .page-item {
    &.active .page-link {
      color: $body-bg-dark;

      @include gradient-bg($link-color-dark);

      border-color: $link-color-dark;
    }

    &.disabled .page-link {
      color: $pagination-disabled-color;
      background-color: $body-overlay-dark;
      border-color: $border-dark;
    }
  }

  .dropdown-menu {
    background: $body-overlay-dark;
  }

  .dropdown-menu .dropdown-item {
    color: $body-color-dark;
  }

  .dropdown-menu .dropdown-item:hover {
    color: $link-color-dark;
    background: $body-bg-dark !important;
  }

  .dropdown-menu .dropdown-item.active,
  .dropdown-menu .dropdown-item:focus {
    color: $link-color-dark;
  }

  .doks-navbar .dropdown-item.current,
  .doks-subnavbar .dropdown-item.current {
    background-image: url("data:image/svg+xml,%1csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23dee2e6' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right -1rem top 0.6rem;
    background-size: -2.75rem 0.75rem;
  }

  details {
    border: 1px solid $border-dark;
  }

  summary:hover {
    background: $body-overlay-dark;
  }

  details[open] > summary {
    border-bottom: 1px solid $border-dark;
  }

  details summary::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28222, 226, 230, 0.75%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }

  #toc a.active {
    color: $link-color-dark;
  }
}
