// Own definitions

$blue-py: #387eb8; // python logo blue
$yellow-py: #ffc331; // python logo yellow
$brown: #aa9c84;

// bootstrap overwrites

$black: #1d2d35;

$blue: darken($blue-py, 5%); // a little bit darker for better contrast ratio
$yellow: $yellow-py;
$purple: #5d2f86;
$cyan: #8ed6fb;
$nav-link-color: $black;

$link-decoration: none;

// fonts
$font-family-sans-serif:
  "InterVariable",
  system-ui,
  -apple-system,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue",
  "Arial",
  "Noto Sans",
  "Liberation Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji" !default;
$font-family-monospace: "JetBrains Mono", "SFMono-Regular", "Menlo", "Monaco",
  "Consolas", "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif;

@supports (font-variation-settings: normal) {
  html {
    font-family: InterVariable, sans-serif;
  }
}

@font-face {
  font-family: InterVariable;
  font-weight: 100 900;
  font-style: normal;

  // font-named-instance: "Regular";
  font-display: swap;
  src:
    url("../fonts/InterVariable.woff2")
      format("woff2 supports variations(gvar)"),
    url("../fonts/InterVariable.woff2") format("woff2-variations"),
    url("../fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src:
    local("JetBrains Mono Regular"),
    local("JetBrainsMono-Regular"),
    url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-display: swap;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  3xl: 1500px,
  4xl: 1840px,
  5xl: 2180px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  3xl: 1660px,
  4xl: 1780px,
  5xl: 2100px,
);

$alert-margin-bottom: 0;
$alert-border-radius: 0;
